# Environment
.venv/
env/
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor
.vscode/
.idea/

# Logs and caches
*.log
*.tmp
*.swp
.pytest_cache/
.mypy_cache/

# Database
fastia.db
*.sqlite
*.db

# Artifacts (IA outputs)
artifacts/
*.npz
*.h5
*.keras
loss_curve.png

# Data files (⚠️ garder ou ignorer selon votre choix pédagogique)
data/*.csv

# Alembic cache
migrations/__pycache__/
